<div class="container">

    <div class="jumbotron">
        <h1>It's Burger Time!</h1>
        <p>Order your burger below.</p>
        <br>
        <h2>Select a Burger!</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order Your Burger Here!</label>
                    <select id="ddid">
                        <option id="op1" value="Plain Hamburger">Plain Hamburger</option>
                        <option id="op2" value="Plain CheeseBurger">Plain CheeseBurger</option>
                        <option id="op3" value="California Burger">California Burger</option>
                        <option id="op4" value="Double CheeseBurger">Double CheeseBurger</option>
                        <option id="op5" value="Veggie Burger">Veggie Burger</option>
                    </select>
                    <button id="button1" type="button" value="Click!" class="btn btn-success"/>
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Eat Your Burger!</strong>
                    <p>Click 'Eat Me!' to eat your burger.</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless eaten}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newEaten="{{eat}}">Eat Me!<span class="fa fa-usd"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Eaten Burgers</strong>
                    <p>Past orders</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if eaten}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newEaten="{{eat}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>
<!--endcontainer -->